<h1>Your Nearest Recall Signature Collection Locations Are:</h1>

<div id="map-canvas" style="width: 100%; height: 350px;"></div>

<% @signature_collection_locations.each do |signature_collection_location| %>
    <div class='signature_collection_location_info'>
        <div class='venue_name line'><%= signature_collection_location.venue_name %></div>
        <div class='address1 line'><%= signature_collection_location.address1 %></div>
        <div class='address2 line'> <%= signature_collection_location.address2 %></div>
        <div class='city state zip line'><%= "#{signature_collection_location.city}, #{signature_collection_location.state} #{signature_collection_location.zip}" %></div>
        <div class='notes line'><%= signature_collection_location.notes %></div>
        <div class='distance line'>Distance: <%= number_with_precision(signature_collection_location.distance, :precision => 2) %> mi</div>
    </div>
<% end %>
