<h1>Your Nearest Recall Signature Collection Locations Are:</h1>

<div id="map-canvas" style="width: 100%; height: 350px;"></div>

<% @signature_collection_locations.each do |signature_collection_location| %>
    <div class='signature_collection_location_info'>
        <div class='name line'><%= signature_collection_location.name %></div>
        <div class='address1 line'><%= signature_collection_location.address1 %></div>
        <div class='address2 line'> <%= signature_collection_location.address2 %></div>
        <div class='city line'><%= signature_collection_location.city %></div>
        <div class='state line'><%= signature_collection_location.state %></div>
        <div class='zip line'><%= signature_collection_location.zip %></div>
        <div class='notes line'><%= signature_collection_location.notes %></div>
    </div>
<% end %>

<%= content_for :js_footer do %>
      $(function() {
          var centerLatLng = new google.maps.LatLng(<%= @location_search.coordinates[0] %>, <%= @location_search.coordinates[1] %>);
          var mapOptions = {
              center: centerLatLng,
              zoom: 8,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
          var center_marker = new google.maps.Marker({
            position: centerLatLng,
            map: map,
            title: 'Your search location'
          });
          <%- @signature_collection_locations.each_with_index do |signature_collection_location, i| -%>
            var latLng_<%= i %> = new google.maps.LatLng(<%= signature_collection_location.latitude %>, <%= signature_collection_location.longitude %>);
            var marker_<%= i %> = new google.maps.Marker({
              position: latLng_<%= i %>,
              map: map,
              title: '<%= signature_collection_location.name %>'
            });
          <%- end -%>
      });
<%- end -%>