<h1>Where Can I Sign The Recall Petition?</h1>
<%= simple_form_for @location_search do |f| %>
    <%= f.input :address1, label: 'Address' %>
    <%= f.input :city, :input_html => { :value => 'San Diego'} %>
    <%= f.input :state, :input_html => { :value => 'CA'} %>
    <%= f.input :zip, label: 'Zip Code' %>

    <%= f.submit value: 'Search' %>
<% end %>