<%= simple_form_for(@signature_collection_location) do |f| %>
  <!--<% if @signature_collection_location.errors.any? %>-->
    <!--<div id="error_explanation">-->
      <!--<h2><%= pluralize(@signature_collection_location.errors.count, "error") %> prohibited this signature_collection_location from being saved:</h2>-->

      <!--<ul>-->
      <!--<% @signature_collection_location.errors.full_messages.each do |msg| %>-->
        <!--<li><%= msg %></li>-->
      <!--<% end %>-->
      <!--</ul>-->
    <!--</div>-->
  <!--<% end %>-->

  <%= f.input :name, hint: 'Your name' %>
  <%= f.input :phone, hint: 'Your phone number, so we can contact you if necessary' %>
  <%= f.input :venue_name, hint: 'The location\'s name' %>
  <%= f.input :address1, label: 'Venue Address' %>
  <%= f.input :address2, label: 'Venue Address (cont.)' %>
  <%= f.input :city, :input_html => { :value => 'San Diego'} %>
  <%= f.input :state, :input_html => { :value => 'CA'} %>
  <%= f.input :zip, label: 'Zipcode' %>
  <%= f.input :notes %>
  <!--<%= f.input :venue_type %>-->
  <%= f.input :ready, label: '', hint: 'I have petition forms and have received training' %>

  <%= f.submit %>
<% end %>
