<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @signature_collection_location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @signature_collection_location.address1 %>
</p>

<p>
  <b>Address (cont.):</b>
  <%= @signature_collection_location.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @signature_collection_location.city %>
</p>

<p>
  <b>State:</b>
  <%= @signature_collection_location.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @signature_collection_location.zip %>
</p>

<p>
  <b>Notes:</b>
  <%= @signature_collection_location.notes %>
</p>

<%= link_to 'Back', signature_collection_locations_path %>
