<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @signature_collection_location.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @signature_collection_location.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @signature_collection_location.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @signature_collection_location.city %>
</p>

<p>
  <b>State:</b>
  <%= @signature_collection_location.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @signature_collection_location.zip %>
</p>

<p>
  <b>Notes:</b>
  <%= @signature_collection_location.notes %>
</p>

<p>
  <b>Latitude:</b>
  <%= @signature_collection_location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @signature_collection_location.longitude %>
</p>


<%= link_to 'Edit', edit_signature_collection_location_path(@signature_collection_location) %> |
<%= link_to 'Back', signature_collection_locations_path %>
