<!DOCTYPE html>
<html>
<head>
  <title>Recall Bob Filner</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src=<%= google_maps_script_src %>></script>
</head>
<body>
  <div id="header">
    <span id="main_text">Recall Bob Filner</span>
  </div>
  <div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
